<!DOCTYPE html>
<html>
<head>
    <title>Ansible Test</title>
</head>
<body>
    <h1>Apache installed successfully using Ansible Role</h1>
    <p>Hostname: {{ ansible_hostname }}</p>
    <p>IP Address: {{ ansible_default_ipv4.address }}</p>
</body>
</html>
